
  <div class="row">
    <div class="col-md-4 offset-4">

      <div class="card" *ngIf="hero">
        <div class="card-header" [class.addColor]="hero">
          <h2>{{hero.name | uppercase}} Details</h2>
        </div>

        <div class="card-body">

          <div class="form-group">
            <label for="name">{{hero.id}}</label>
            <input id="name" class="form-control" [(ngModel)]="hero.name"
                   placeholder="name">
          </div>
        </div>

        <div class="card-footer">
          <button class="btn btn-dark" (click)="goBack()" ><--</button>
        </div>
      </div>
    </div>
  </div>
